alabaster==0.7.12
anyio==3.3.3
appnope==0.1.2
argcomplete==1.12.3
argon2-cffi==20.1.0
astropy==4.3.1
astroquery==0.4.1
async-generator==1.10
attrs==20.3.0
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==4.1.0
cached-property==1.5.2
Cartopy==0.18.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Cython==0.29.21
czml3==0.6.0
debugpy==1.5.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
Flask==1.1.2
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.1.1
ipdb==0.13.4
ipykernel==6.4.1
ipympl==0.6.3
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==3.0.3
jplephem==2.15
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-resource-usage==0.6.0
jupyter-server==1.11.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyternotify==0.1.15
jupyterthemes==0.20.0
keyring==21.5.0
kiwisolver==1.3.1
lesscpy==0.14.0
llvmlite==0.35.0
lxml==4.8.0
MarkupSafe==2.1.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.1.0
nbclient==0.5.1
nbconvert==5.6.1
nbformat==5.0.8
nest-asyncio==1.5.4
notebook==6.4.8
numba==0.52.0
numpy==1.21.5
openpyxl==3.0.7
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
plotly==4.14.0
ply==3.11
poliastro==0.16.0
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.8.0
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pyerfa==2.0.0
Pygments==2.11.2
pyparsing==2.4.7
pyrsistent==0.17.3
pyshp==2.1.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==6.0
pyzmq==20.0.0
qtconsole==5.1.0
QtPy==1.9.0
requests==2.25.0
requests-unixsocket==0.2.0
retrying==1.3.3
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.8.0
Shapely==1.7.1
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.0.1
Sphinx==4.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.2
urllib3==1.26.8
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xlrd==2.0.1
yapf==0.30.0
zipp==3.4.0
